Footer {
    position: relative;
    margin-top: 110px;
  }
  .container1 {
    height: 50%; /* Ajusta la altura según sea necesario */
    width: 100%;
    position: relative;
  }
  
  .container1 img {
    object-fit: cover;
    width: 100%;
  }
  
  .encabezado1 {
    position: absolute;
    text-align: center;
    background-color: rgba(2, 2, 152, 0.804);
    border-radius: 20px 20px 20px 20px;
    font-size: 3em;
    top: 30%;
    left: 30%;
    font-weight: bold;
    padding: 15px;
    z-index: 1; /* Coloca el encabezado encima del formulario */
  }
  
  .formulario {
    position: absolute;
    top: 50%; /* Posición centrada verticalmente */
    left: 50%; /* Posición centrada horizontalmente */
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    opacity: 0.98;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
  /* Utiliza un identificador único para aumentar la especificidad */
  #miBoton.button-animation {
    transition: background-color 0.8s ease;
    animation: changeBackgroundColor 2s infinite;
  }
  
  @media (max-width: 1216px) {
    .formulario {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      transform: none;
    }
  }
  @media (max-width: 1029px) {
    .formulario {
      margin-top: 20px; /* Añadir un poco de margen superior */
      margin-bottom: 20px; /* Ajusta este valor según sea necesario */
    }
  }
  @media (max-width: 1216px) and (min-width: 1029px) {
    .formulario {
      margin-top: 20px; /* Ajusta el margen superior */
      margin-bottom: 20px; /* Ajusta este valor según sea necesario */
    }
  }
  
  @media (max-width: 777px) {
    .encabezado1 {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      font-size: 2em;
      border-radius: 0%;
      text-align: center; /* Centrar texto */
      margin-top: 20px; /* Añadir un poco de margen superior */
    }
    .formulario {
      position: relative;
      width: 100%;
      margin-top: 20px; /* Añadir un poco de margen superior */
      margin-bottom: -120px;
      margin-inline: 10px 0px 10px 0px;
    }
    .formulario form label {
      font-size: 1.1em;
    }
  }
  
  /* ANIMACIONES */
  
  .animate-error {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes changeBackgroundColor {
    0% {
      background-color: #FFD700; /* Define el color inicial */
    }
    50% {
      background-color: #FFA500; /* Define el color intermedio */
    }
    100% {
      background-color: #FFD700; /* Define el color final, igual al inicial para que la transición sea suave */
    }
  }
  