/* Estilos para el contenido de pages > *cocinas.vue*/

  /* Estilo del hero container */


  /* Estilos para los textos de los divs */
  .content,
  .second-content,
  .third-content,
  .fourth-content,
  .fifth-content {
    padding: 20px;
    opacity: 0; /* Inicialmente, los textos están invisibles */
    transition: opacity 2s ease; /* Agregar transición para la opacidad */
  }
  
  /* Establecer opacidad a 1 cuando la clase 'show' está activada */
  .content.show,
  .second-content.show,
  .third-content.show,
  .fourth-content.show,
  .fifth-content.show {
    opacity: 1;
  }
  
 
  /* Estilos para el primer div */
  .full-screen-image-container {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }
  
  .full-screen-image {
    width: 100%;
    height: 83vh;
    object-fit: cover;
  }
  
  #cortina {
    position: absolute;
    top: 20%;
    right: -50%; /* Mueve el elemento fuera del contenedor */
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.85); /* Aumenta la opacidad */
    text-shadow: 1px 1px 2px black; /* Añade sombra al texto para mejorar la legibilidad */
    color: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.957); /* Agrega una sombra blanca semitransparente alrededor del contenedor */
    opacity: 0; /* Establece la opacidad inicial en 0 */
    transition: opacity 1s ease, transform 1s ease, right 1s ease; /* Ajustamos la velocidad de la transición */
  }
  

  #cortina.show {
    opacity: 1; /* Muestra el div cambiando la opacidad */
    right: 0; /* Mueve el elemento hacia la posición original */
  }
  
  .content {
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro para mejorar la legibilidad */
    color: white;
    padding: 10px;
    border-left: 5px solid #ffc107; /* Un toque de color */
    transition: background-color 0.3s ease;
  }
  .content2 {
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro para mejorar la legibilidad */
    color: white;
    padding: 20px;
    border-right: 5px solid #ffc107; /* Un toque de color */
    transition: background-color 0.3s ease;
  }
  /* Media queries para dispositivos con un ancho máximo de 768px */
  @media (max-width: 768px) {
    .content, .content2 {
      height: 25%;
      border-left: none; /* Elimina el borde izquierdo en dispositivos móviles */
      border-right: none; /* Elimina el borde derecho en dispositivos móviles */
      border-bottom: 2px solid #ffc107; /* Añade un borde inferior en dispositivos móviles */
    }
  }
  .content:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  /* Mejorar la legibilidad del texto con sombra */
  .text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  h1 {
    font-size: calc(16px + 1vw); /* Responsive font size */
    font-weight: bold;
  }
  
  /* Estilos para el segundo div */
  .second-image-container {
    position: relative;
    height: 60vh; /* Mismo tamaño que los otros divs de imagen */
    overflow: hidden;
  }
  
  .second-image {
    width: 100%; /* Haz que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Haz que la imagen ocupe todo el alto del contenedor */
    object-fit: cover;
  }
  
  #second-cortina {
    position: absolute;
    top: 20%;
    left: -50%; /* Mueve el elemento fuera del contenedor */
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.957); /* Agrega una sombra blanca semitransparente alrededor del contenedor */
    padding: 20px;
    opacity: 0; /* Establece la opacidad inicial en 0 */
    transition: opacity 1s ease, transform 1s ease, left 1s ease; /* Ajustamos la velocidad de la transición */
  }
  
  #second-cortina.show {
    opacity: 1; /* Muestra el div cambiando la opacidad */
    left: 0; /* Mueve el elemento hacia la posición original */
  }

  .second-text {
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  /* Estilos para el tercer div */
  .third-image-container {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }
  
  .third-image {
    width: 100%;
    height: 85vh;
    object-fit: cover;
  }
  
  #third-cortina {
    position: absolute;
    top: 20%;
    right: -50%; /* Mueve el elemento fuera del contenedor */
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.957); /* Agrega una sombra blanca semitransparente alrededor del contenedor */
    opacity: 0; /* Establece la opacidad inicial en 0 */
    transition: opacity 1s ease, transform 1s ease, right 1s ease; /* Ajustamos la velocidad de la transición */
  }
  
  #third-cortina.show {
    opacity: 1; /* Muestra el div cambiando la opacidad */
    right: 0; /* Mueve el elemento hacia la posición original */
  }
  

  /* Estilos para el cuarto div */
  .fourth-image-container {
    position: relative;
    height: 60vh; /* Ajusta la altura para que sea del mismo tamaño que los otros divs de imagen */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fourth-image {
    width: 100%; /* Haz que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Haz que la imagen ocupe todo el alto del contenedor */
    object-fit: cover;
  }
  
  #fourth-cortina {
    position: absolute;
    top: 20%;
    left: -50%; /* Mueve el elemento fuera del contenedor */
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.957); /* Agrega una sombra blanca semitransparente alrededor del contenedor */
    padding: 20px;
    opacity: 0; /* Establece la opacidad inicial en 0 */
    transition: opacity 1s ease, transform 1s ease, left 1s ease; /* Ajustamos la velocidad de la transición */
  }
  

  #fourth-cortina.show {
    opacity: 1; /* Muestra el div cambiando la opacidad */
    left: 0; /* Mueve el elemento hacia la posición original */
  }
  
  /* Estilos para el quinto div */
  .fifth-image-container {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }
  
  .fifth-image {
    width: 100%;
    height: 85vh;
    object-fit: cover;
  }
  
  #fifth-cortina {
    position: absolute;
    top: 20%;
    right: -50%; /* Mueve el elemento fuera del contenedor */
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.957); /* Agrega una sombra blanca semitransparente alrededor del contenedor */
    padding: 20px;
    opacity: 0; /* Establece la opacidad inicial en 0 */
    transition: opacity 1s ease, transform 1s ease, right 1s ease; /* Ajustamos la velocidad de la transición */
  }
 
  #fifth-cortina.show {
    opacity: 1; /* Muestra el div cambiando la opacidad */
    right: 0; /* Mueve el elemento hacia la posición original */
  }
  

  #header1 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fffffff8;
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 10px; /* Espaçamento interno */
    z-index: 1000; /* Certifique-se de que o cabeçalho esteja acima de outros elementos */
  }
  .fondo {
    background-color: #000000e3;
  }
  
  /* Media queries para dispositivos con un ancho máximo de 768px */
  @media screen and (max-width: 768px) {
    .full-screen-image,
    .second-image,
    .third-image,
    .fourth-image,
    .fifth-image
    { 
      height: 90vh; /* Reducir la altura de las imágenes en dispositivos móviles */
    }
    
    
  }
  /* Estilos para el texto principal COCINAS */
  @keyframes fadeInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    70% {
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    70% {
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .revealText {
    opacity: 0;
    display: inline-block;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  
  .reveal1 {
    animation-name: fadeInFromBottom;
    animation-delay: calc(0.1s * var(--i));
  }
  
  .reveal2 {
    animation-name: fadeInFromTop;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes textGlow {
    from {
      text-shadow: none;
    }
    to {
      text-shadow: 0 0 10px white;
    }
  }
  
  .shadow-effect:hover {
    animation: textGlow 0.5s ease forwards;
  }
  /* Estilos para las imágenes */
.full-screen-image,
.second-image,
.third-image,
.fourth-image,
.fifth-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  transition: transform 0.5s ease-in-out; /* Suaviza la transición del efecto de escala */
}

/* Efecto hover para las imágenes para indicar interactividad */
.full-screen-image-container:hover .full-screen-image,
.second-image-container:hover .second-image,
.third-image-container:hover .third-image,
.fourth-image-container:hover .fourth-image,
.fifth-image-container:hover .fifth-image {
  transform: scale(1.05); /* Ampliación ligera al hacer hover */
}
/* Estilos adicionales para los contenedores de imagen para asegurar el overflow correcto */
.full-screen-image-container,
.second-image-container,
.third-image-container,
.fourth-image-container,
.fifth-image-container {
  overflow: hidden; /* Oculta cualquier parte de la imagen que 'exceda' del contenedor */
  transition: all 0.3s ease-in-out; /* Transición suave para los cambios */
}

/* Media queries para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
  .full-screen-image, .second-image, .third-image, .fourth-image, .fifth-image {
    height: 50vh;
  }

  /* Transición suavizada para las cortinas con IDs */
#cortina, #second-cortina, #third-cortina, #fourth-cortina, #fifth-cortina {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-100%); /* Inicia desde fuera de la vista completamente a la izquierda */
  width: 100%;
  height: auto;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.65); /* Fondo semitransparente para mejorar la visibilidad del texto */
  color: white;
  padding: 20px;
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.957);
}

#cortina.show, #second-cortina.show, #third-cortina.show, #fourth-cortina.show, #fifth-cortina.show {
  transform: translateX(0); /* Mueve las cortinas a la posición original suavemente */
  opacity: 1; /* Cambia la opacidad a visible */
}

/* Efecto hover para las imágenes para indicar interactividad */
.full-screen-image-container:hover .full-screen-image,
.second-image-container:hover .second-image,
.third-image-container:hover .third-image,
.fourth-image-container:hover .fourth-image,
.fifth-image-container:hover .fifth-image {
  transform: scale(1.05); /* Ampliación ligera al hacer hover */
}

/* Animaciones para los textos al aparecer, dando un efecto de entrada más dinámico */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#cortina h1, #cortina span, #second-cortina h1, #second-cortina span, 
#third-cortina h1, #third-cortina span, #fourth-cortina h1, #fourth-cortina span, 
#fifth-cortina h1, #fifth-cortina span {
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0; /* Comienza invisibles */
    animation-delay: 0.5s; /* Retraso para sincronizar con la transición de la cortina */
}


#cortina.show, #second-cortina.show, #third-cortina.show, #fourth-cortina.show, #fifth-cortina.show {
  transform: translateX(0); /* Mueve las cortinas a la posición original suavemente */
  opacity: 1; /* Cambia la opacidad a visible */
}
.full-screen-image-container, .second-image-container, .third-image-container, .fourth-image-container, .fifth-image-container {
  height: auto;
}

h1 {
  font-size: 24px;
}

/* Ocultar elementos no esenciales en móviles */
.content span:not(:first-child), .second-content span:not(:first-child),
.third-content span:not(:first-child), .fourth-content span:not(:first-child),
.fifth-content span:not(:first-child),
.content font-awesome-icon, .second-content font-awesome-icon,
.third-content font-awesome-icon, .fourth-content font-awesome-icon,
.fifth-content font-awesome-icon {
  display: none;
}

/* CSS para la imagen */
.full-screen-image-container,
.second-image-container,
.third-image-container,
.fourth-image-container,
.fifth-image-container {
  overflow: hidden;
  position: relative;
}

.full-screen-image,
.second-image,
.third-image,
.fourth-image,
.fifth-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}

.text-line {
  opacity: 0; /* Inicialmente, las líneas están invisibles */
  animation: slideInFromSide 1s ease forwards, shine 1s infinite alternate; /* Agregar la animación de entrada y el brillo */
  font-size: calc(14px + 0.5vw); /* Responsive font size para otros textos */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Ajusta el valor de desenfoque y la opacidad según sea necesario */
}


/* Definición de la animación */
@keyframes slideInFromSide {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Empieza desde la izquierda */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.shine-effect {
  animation: shine 1s infinite alternate; /* Aplica la animación de brillo */
}
.shine-effect:hover {
  animation: shine-hover 0.3s infinite alternate; /* Aplica la animación de brillo al hacer hover */
}

@keyframes shine {
  /* Define la animación de brillo */
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Sombra inicial */
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9); /* Sombra más intensa */
  }
}

/* Definición de la animación de brillo al hacer hover */
@keyframes shine-hover {
  from {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9); /* Sombra más intensa */
  }
  to {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1); /* Sombra aún más intensa */
  }
}

/* Agrega estas clases al archivo cocinas.css */

.show {
  opacity: 1; /* Mostrar el elemento */
  transition: opacity 0.5s ease-in-out; /* Agregar una transición suave */
}

.blink {
  animation: blink-animation 1s infinite; /* Animación de parpadeo */
}

@keyframes blink-animation {
  0% {
    opacity: 0; /* Ocultar el elemento */
  }
  50% {
    opacity: 1; /* Mostrar el elemento */
  }
  100% {
    opacity: 0; /* Ocultar el elemento */
  }
}

/* Estilos para el texto con efecto de brillo */
.shine-button {
  position: relative;
  overflow: hidden;
  display: inline-block; /* Asegura que el contenedor abarque solo el contenido */
}

.shine-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%; /* Empieza fuera del contenedor a la izquierda */
  width: 200%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  transition: opacity 0.7s, left 0.7s; /* Ajusta la transición para el movimiento horizontal */
}

.shine-button:hover:after {
  opacity: 1;
  left: 150%; /* Termina fuera del contenedor a la derecha */
}

.shine-button:active:after {
  opacity: 0;
}

/* Estilos para el carrusel de imágenes principal */

.container:hover .info-container {
  display: flex; /* Asegura que el contenedor se muestre correctamente */
  flex-direction: column; /* Organiza los elementos internos verticalmente */
  opacity: 1; /* Hace el contenedor completamente visible */
  transform: translateX(0); /* Alinea el contenedor con su posición final */
}

.info-container {
  display: none; /* Oculta el contenedor por defecto */
  position: absolute; /* Posicionamiento respecto al contenedor padre */
  right: 0; /* Alinea a la derecha */
  transition: all 0.5s ease; /* Suaviza la transición */
  background-color: #fff; /* Fondo blanco para el texto */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra suave */
  width: 300px; /* Ancho fijo */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.revealText {
  animation: fadeIn 2s forwards;
}

/* Animación para revelar texto con un efecto 'typewriter' */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.text-line {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 4s steps(40) 1s forwards;
}
}
.kitchen-container {
  position: relative;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8); /* Ajusta el color y la opacidad según necesites */
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

.cover.reveal {
  transform: translateX(100%); /* Desplaza la cortina hacia la derecha */
}
